jieba==0.42.1
jsonlines==4.0.0
matplotlib==3.8.3
nagisa==0.2.11
numpy==1.26.4
omegaconf==2.3.0
openai==1.30.3
packaging==24.0
pandas==2.2.2
pycountry==23.12.11
pytablewriter==1.2.0
pytest==8.2.1
Requests==2.32.2
rouge_score==0.1.2
sacrebleu==1.5.0
scikit_learn==1.4.1.post1
scipy==1.13.1
sqlitedict==2.1.0
torch==2.2.1
tqdm==4.66.2
transformers==4.35.0
zstandard==0.22.0
